﻿@model Ecommerce.MVC.ViewModels.LoginViewModel

<h3>Login</h3>

@using (var form = Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div>
        Username: <input type="text" name="@nameof(Model.Username)" value="@Model.Username" />
        Password: <input type="password" name="@nameof(Model.Password)" value="@Model.Password" />
        <button type="submit">Invia</button>
    </div>
}