﻿@model Ecommerce.MVC.ViewModels.ArticoliViewModel

<table class="table">

    <tr>
        <td>Codice</td>
        <td>Nome</td>
        <td>Operazioni</td>
    </tr>

    @foreach (var articolo in Model.Articoli)
    {
        <tr>
            <td>@articolo.Codice</td>
            <td>@articolo.Nome</td>
            <td><a href="@Url.Action("Modifica", "Articoli", new { @codice = articolo.Codice })" class="btn btn-default">Modifica</a></td>
        </tr>
    }

</table>
