﻿@model Ecommerce.MVC.ViewModels.ArticoloViewModel

<h3>Nuovo articolo</h3>

@if (!string.IsNullOrEmpty(ViewBag.Errore))
{
    <p class="text-danger">@ViewBag.Errore</p>
}

<!-- Helper per generare <form action="/Articoli/Inserisci" method="post"> -->
@*Se si sta modificando un elemento, passa il parametro @codice al metodo Modifica, per indicare quale articolo modificare*@
@using (var form = Html.BeginForm(Model.IsNuovo ? "Inserisci" : "Modifica", "Articoli", new { @codice = Model.IsNuovo ? null : Model.Codice }, FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @*Aggiungi un input type="hidden" alla form, per ricordare fra gli invii del form se si sta facendo un nuovo inserimento o no*@
    @Html.HiddenFor(m => m.IsNuovo)

    <div>
        @*Se si sta modificando un elemento esistente, aggiungi disabled="disabled" all'input per evitare di far modificare il codice (che è chiave primaria)*@
        Codice: <input type="text" name="@nameof(Model.Codice)" value="@Model.Codice" @Html.Raw(!Model.IsNuovo ? "disabled=\"disabled\"" : "") />
        @Html.ValidationMessageFor(m => m.Codice, null, new { @class = "text-danger" })
    </div>
    <div>
        Nome: <input type="text" name="@nameof(Model.Nome)" value="@Model.Nome" />
        @Html.ValidationMessageFor(m => m.Nome, null, new { @class = "text-danger" })
    </div>
    <div>
        <!-- Sconsigliato: l'associazione fra il campo e la proprietà non è forte -->
        Descrizione: <input type="text" name="@nameof(Model.Descrizione)" value="@Model.Descrizione" />
        @Html.ValidationMessageFor(m => m.Descrizione, null, new { @class = "text-danger" })
    </div>
    <div>
        Prezzo: <input type="text" name="@nameof(Model.Prezzo)" value="@Model.Prezzo" />
        @Html.ValidationMessageFor(m => m.Prezzo, null, new { @class = "text-danger" })
    </div>
    <div>
        PercorsoImmagine: <input type="file" name="@nameof(Model.Immagine)" value="@Model.Immagine" />
        @Html.ValidationMessageFor(m => m.Immagine, null, new { @class = "text-danger" })
    </div>
    <div>
        <p>Immagine esistente:</p>
        <img src="@Url.Action("Immagine", "Articoli", new { @codice = Model.Codice })" style="max-width:100px;" />
    </div>
    <button type="submit">Invia</button>
}
<!-- Alla chiusura stampa </form> -->
